*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 20px;
    background-color: #dbdbdb;
}
main{
    height: calc(100vh - 70px);
    background-color: black;
}
footer{
    height: 50px;
    background-color: #232427;
}
.flex-container{
    display: flex;
    align-items: stretch;
}
.left, .right{
    display: flex;
    width: 5%;
    background-color: crimson;
}
.center{
    width: 90%;
    background-color: blanchedalmond;
}
.fas{
    color: #7f7f7f;
    font-size: 45px;
}