*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 20px;
    background-color: #dbdbdb;
}
main{
    height: calc(100vh - 70px);
    background-color: black;
}
footer{
    height: 50px;
    background-color: #232427;
}
.flex-container{
    display: flex;
    align-items: stretch;
}
.left, .right{
    display: flex;
    flex-direction: column;
    width: 5%;
    /* background-color: crimson;  DEBUG*/
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    width: 90%;
    /* background-color: blanchedalmond; DEBUG*/ 
    flex-wrap: wrap;
    margin: 40px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
.fas{
    color: #7f7f7f;
    font-size: 55px;
}
.pages{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.selection:hover{
    color: #2ebaff;
    cursor: pointer;
}
.zoom-image{
    width: calc(100% / 5);
    height:calc(100% / 5);
    border: 4px solid black;
    
}
.center img{
    min-width: 200px;
    min-height: 100px;
    object-fit: cover;
    justify-content: space-evenly;

}